<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>222241256146-r4a0tss1ng681eadnt8n0ukghe77iei8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.222241256146-r4a0tss1ng681eadnt8n0ukghe77iei8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>222241256146-95oe45s8q9pvbfsn6hhgbfakkkrnhtl7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBiMux76t19b5MYBQsSiT-KokIkGorHmqY</string>
	<key>GCM_SENDER_ID</key>
	<string>222241256146</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>eu.eventassist.tickettouch</string>
	<key>PROJECT_ID</key>
	<string>eventassist-tickettouch</string>
	<key>STORAGE_BUCKET</key>
	<string>eventassist-tickettouch.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:222241256146:ios:90bb3e6e345822cb02730b</string>
</dict>
</plist>